<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>Nombre</th>
        <th>Edad</th>
        <th>País</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let chofer of choferes">
        <td>{{ chofer.nombre }}</td>
        <td>{{ chofer.edad }}</td>
        <td>{{ chofer.nacionalidad }}</td>
        <td>
          <button class="btn btn-primary btn-sm" (click)="seleccionarChofer(chofer)">Ver Detalles</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
