.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card-body {
    font-size: 1rem;
    color: #333;
  }
  
  .card p {
    margin-bottom: 10px;
  }
  .card-body img {
    border-radius: 5px;
    margin-top: 10px;
  }
  