<div class="container">

  <!-- Input y botón solo visibles antes de cargar un usuario -->
  <div *ngIf="!isUserLoaded">
    <input
      type="text"
      [(ngModel)]="githubUsername"
      class="form-control"
      placeholder="Ingrese un usuario de GitHub"
    />
    <button (click)="loadGithubUserData(githubUsername)" class="btn btn-primary mt-3">
      Buscar
    </button>
  </div>

  <!-- Mostrar datos del usuario cargado -->
  <div *ngIf="userData">
    <h2>Bienvenido {{ userData.name || 'Usuario desconocido' }}</h2>
    <img *ngIf="userData.avatar_url" [src]="userData.avatar_url" alt="{{ userData.name }}" class="img-fluid rounded-circle" />
    <p><strong>Usuario de GitHub:</strong> {{ userData.login }}</p>
    <p><strong>Número de Repositorios:</strong> {{ userData.public_repos }}</p>
    <button (click)="isUserLoaded = false" class="btn btn-secondary mt-3">
      Buscar otro usuario
    </button>
  </div>
</div>
